@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}
<style>
    .section-title h4:after{
        width : 150px;
    }

    h3:after {
        width: 100px;
    }
    
</style>

<section class="banner set-bg" data-setbg="img/banner/banner-1.jpg" style="background-image: url(../../wwwroot/img/banner/banner-1.jpg); padding-bottom:50px;padding-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage">
                        <div class="owl-item cloned">
                            <div style="padding-top:20%; " class="banner__item">
                                <div style="text-align:center" class="banner__text">
                                    <span>Buy anything & Sell anything</span>
                                    <h1>SHE SHARES</h1>
                                    <a href="#shop">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div style="text-align:center; padding-top:50px; width:70%; padding-left:30%;">
    <div id="about" class="footer__about">

        <div style="margin-bottom:0px;" class="footer__logo">
            <a asp-controller="Home" asp-action="Index">
                <div class="section-title">
                    <h3><b>About Us</b></h3>
                </div>
                <img style="width:120px; height:100px;" src="~/img/logoo.jpeg" alt="Logo">
            </a>
        </div>
        <p>Buy and sell pre-loved clothing in great condition at a fraction of the price of new! Discover stylish, long-lasting pieces now, and contribute to sustainability and savings with our second-hand selection.</p>
    </div>
</div>
<section class="product spad">
            @* <div style="justify-content:center" class="row">
                <div class="col-md-6 search-form">
                    <form class="d-flex" asp-action="Search" asp-controller="Home">
                        <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-dark" type="submit">Search</button>
                    </form>
                </div>
            </div> *@
 
    <div id="shop" class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Shop Now!</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*"><a style="color:black;" asp-controller="Home" asp-action="Index">All</a></li>
                    <li data-filter=".women"><a style="color:black;" asp-controller="Category" asp-action="Dresses">Dresses</a></li>
                    <li data-filter=".men"><a style="color:black;" asp-controller="Category" asp-action="Tops">Tops</a></li>
                    <li data-filter=".kid"><a style="color:black;" asp-controller="Category" asp-action="Bottoms">Bottoms</a></li>
                    <li data-filter=".accessories"><a style="color:black;" asp-controller="Category" asp-action="Shoes">Shoes</a></li>
                    <li data-filter=".cosmetic"><a style="color:black;" asp-controller="Category" asp-action="AccessoriesAndMakeUp">Accessories & MakeUp</a></li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery" id="MixItUpBA81B2">
            @if (Model == null || !Model.Any())
            {
                <p>No products found.</p>
            }
            else
            {
                foreach (var product in Model)
                {
                   
                    <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                        <div class="product__item">
                            <div class="product__item__pic">
                              
                                @foreach (var imageUrl in product.ProductImges)
                                {
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                      

                                    <img style="height:360px;" src="@Url.Content("~/images/" + imageUrl)" alt="@product.Name" />
                                </a>
                                }
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">@product.Name</a></h6>
                               
                                <div class="product__price">@product.Price.ToString("C")</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div style="display:flex; justify-content:center; justify-items:center; text-align:center" class="col-lg-12 text-center">
            <div class="pagination__option">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <a asp-controller="Home" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                }
                <a asp-controller="Home" asp-action="Index" asp-route-pageNumber="@((ViewBag.CurrentPage + 1) > ViewBag.TotalPages ? ViewBag.TotalPages : ViewBag.CurrentPage + 1)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>