@model Mvc_Project.Models.RoleViewModel

@{
    ViewData["Title"] = "Add Role";
    Layout = "_AdminDashBordLayout";
}

<h1>@ViewData["Title"]</h1>
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}


@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div class="alert alert-danger">
        @error.ErrorMessage
    </div>
}

<form asp-action="SaveRole" method="post">
    <div class="form-group">
        <label for="RoleName">Role Name:</label>
        <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" />
        @Html.ValidationMessageFor(model => model.RoleName)
    </div>
    <button type="submit" class="btn " style="background-color:#de7c7c; color:white;" >Save</button>
</form>
