@model List<Product>

@{
    Layout = "_AdminDashBordLayout";
}

<html>
<body>
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Product List</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Accepted Products</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <!-- Search form -->
                                <form method="get" action="@Url.Action("ProductList")">
                                    <div id="dataTable_filter" class="dataTables_filter">
                                        <label>
                                            Search:
                                            <input type="search" name="searchQuery" class="form-control form-control-sm" placeholder="Search products" aria-controls="dataTable" value="@ViewBag.SearchQuery">
                                        </label>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>User Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model)
                                        {
                                            <tr>
                                                <td>@product.Name</td>
                                                <td>
                                                    @foreach (var photo in product.ProductImges)
                                                    {
                                                        <img src="~/images/@photo" alt="Product Image" style="width: 100px; height: 100px;" />
                                                    }
                                                </td>
                                                <td>@product.Description</td>
                                                <td>@product.Price.ToString("C")</td>
                                                <td>@product.Category?.Name</td>
                                                <td>@product.User?.UserName</td>
                                                <td>
                                                    <button type="submit" name="status" value="Accepted" style="background-color:#de7c7c; color:white;" class="btn ">More Details</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                    Showing 1 to 10 of 50 entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="dataTable_next">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
