@* @model Mvc_Project.Models.ViewModels.DashboardViewModel *@

@{
    ViewData["Title"] = "DashBord";
    Layout = "_AdminDashBordLayout";

}

<h1>DashBord</h1>




<p>sadjsadfkfsnkcknzkncsdcjdcnsdcsdc
    csdkmcsmdcmsdmkcsdcs
    dcsdcsdcsmdcsmdcsd
    csdcsdmcmsdcmsdlkcmsdc'
    sdc'sdcksldmcsa
    dcS'csadnclsamdcsd'c
    sd
    cas
    vasjdsasnknsjdncsdnc
</p>

@* <div>
    <h4>DashboardViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOrders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProducts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProducts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCategories)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
 *@